/* * {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
} */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(to top left, #d8bd8a, #c18766);
  background-image: linear-gradient(to top left, #c18766 0%, #d8bd8a 100%);
}

h1 {
  color: blue;
}
h2 {
  color: blue;
}

.rechner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 20px;
  background-color: #c0b7a7;
  border-radius: 15px;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 500px;
  margin: 20px;
  background-color: #c0b7a7;
  padding-right: 10px;
}

.showBMI {
  background-image: linear-gradient(
    to top left,
    #6c87af 0%,
    rgb(84, 158, 158) 100%
  );
  align-items: center;
  text-align: center;
  width: 400px;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.showBMI-niedrig {
  background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}

.showBMI-normal {
  background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}

.showBMI-hoch {
  background: linear-gradient(to top left, #6c87af, rgb(84, 158, 158));
}

.btn {
  background-image: linear-gradient(to top left, #9963a3 0%, #945759 100%);
  color: white;
  border-radius: 5px;
  margin: 20px;
  width: 200px;
  font-size: 24px;
}

.btn :hover {
  background-color: gainsboro;
  color: black;
}

li {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

input {
  background-image: linear-gradient(
    to top left,
    #6c7a8f 0%,
    rgb(126, 151, 151) 100%
  );
  color: white;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 5px white;
}

.para {
  font-size: 22px;
  font-weight: 600;
  color: blue;
}
